{% extends "inicio/encabezado.html" %}

{%block titulo %}COMENTARIOS DE CONTACTO{% endblock %}

{% block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}



{% block contenido%}
    
    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>COMENTARIOS
            <small>Lista de Comentarios</small></h3>
        </div>
    </div>
    <!-- /Encabezado-->
    {% block barra %}
    <!--Barra de Navegacion-->
<div class="breadcrumb-line">
<ul class="breadcrumb">
    <li>
        <a href="{%url 'Principal'%}">
            {%if request.path == '/'%}
                Principal
            {%else%}
                Principal{{request.path}}
            {%endif%}
        </a>
    </li>
    
</ul>
</div>
<!--Barra de Navegacion-->
{% endblock %}
<!--Tabla de Comentarios-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th></th>
                <th></th>
        </tr>
    </thead>
    <tbody>
        {% for comentario in comentarios%}
            <tr>
                <td class="text-semibold">{{comentario.usuario}}</td>
                <td class="muted">{{comentario.mensaje}}</td>
                <td class="text-center">
                    <a href="{%url 'Eliminar' comentario.id%}">Eliminar</a>
                </td>
                <td class="text-center">
                    <a href="{%url 'ConsultaIndividual' comentario.id%}">Editar</a>
                </td>
            </tr>
            {%endfor%}
    </tbody>
</table>

{%endblock%}

